.container {
  text-align: center;
}
.container h2 {
  font-size: 3rem;
}

/* Projects */
.projectsContainer {
  margin: 0 4rem;
}

.projectCard {
  margin: 4rem 0;
}

.projectCard a {
  color: black;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 2rem;
  border: 2px solid black;
  padding: 0.5rem;
  border-radius: 1rem;
}
.projectCard a:hover {
  text-decoration: underline;
}
